body > .container {
  width: 600px;
  height: 600px;
}


.container .box  {
    max-height: 500px;
   
  }
  
  .box {
    width: 150px;
    height: 150px;
    
    margin-left: 5px;
    margin-right: 5px;
    animation: example 3000ms infinite 1000ms;
    
  }
  

  
  @keyframes example {
    0%   { transform: translateY(0px) ;
           background-color:red;
          }
    25%  { background-color: green;
           transform: translateY(400px);
         }
    50%  { background-color: blue;
           transform: translate(400px,400px);
          }
    75% { background-color: yellow;
          transform: translate(400px,0px) 
    }      
    100% {background-color:red;
          transform: translateY(0px);}
  }
 
 
    

  
  
  
  

  